force-app/main/default/flows/Geocoded_Location_Creator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>LocationWithAddressChoice</name>
        <choiceText>Create Location based on an Address matched using the Salesforce &lt;a href=&quot;https://help.salesforce.com/s/articleView?id=sf.customize_maps_autocomplete.htm&amp;amp;type=5&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Autocomplete Address feature&lt;/a&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LocationWithAddress</stringValue>
        </value>
    </choices>
    <choices>
        <name>LocationWithLatLongOnlyChoice</name>
        <choiceText>Create Location with a specified Latitude and Longitude, but without any associated Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LocationWithLatLongOnly</stringValue>
        </value>
    </choices>
    <constants>
        <name>AutoCompleteLookupFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Enter Address to Lookup using Address Autocompletion</stringValue>
        </value>
    </constants>
    <decisions>
        <name>UserChoiceOptions</name>
        <label>UserChoiceOptions</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_location_w_LL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LatLongOption</defaultConnectorLabel>
        <rules>
            <name>AddressOption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Location_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocationWithAddressChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>new_Address</targetReference>
            </connector>
            <label>AddressOption</label>
        </rules>
    </decisions>
    <description>creates geocoded Address record with a Parent location record - using explicit Lat/Long values or using Address Autocompletion feature which also sets the Latitude and Longitude values.  Note that the Location&apos;s Latitude and Longitude values are set using a separate Triggered Flow (PushAddressLatLongToItsParentLocation)</description>
    <dynamicChoiceSets>
        <name>LocTypePLC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LocationType</picklistField>
        <picklistObject>Location</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>LocNameFromAddress</name>
        <dataType>String</dataType>
        <expression>IF({!Automatically_Name_New_Location_using_the_Address}, {!Address.street} &amp; &apos; &apos; &amp; {!Address.city} &amp; &apos; &apos; &amp; {!Address.province} &amp; &apos; &apos; &amp; {!Address.postalCode},null)</expression>
    </formulas>
    <interviewLabel>Geocoded Location Creator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Geocoded Location Creator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>new_Address</name>
        <label>new Address</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>newAddrRecId</assignRecordIdToReference>
        <connector>
            <targetReference>GetAddressforLL</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>newLocRecId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </inputAssignments>
        <object>Address</object>
    </recordCreates>
    <recordCreates>
        <name>New_Location</name>
        <label>New Location</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>newLocRecId</assignRecordIdToReference>
        <connector>
            <targetReference>UserChoiceOptions</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IsInventoryLocation</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsMobile</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <elementReference>Location_Type_PL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Loc_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordCreates>
    <recordLookups>
        <name>GetAddressforLL</name>
        <label>GetAddressforLL</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_location</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newAddrRecId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Address</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Latitude</queriedFields>
        <queriedFields>Longitude</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_location</name>
        <label>update location</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newLocRecId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsInventoryLocation</field>
            <value>
                <elementReference>Set_this_as_an_Inventory_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>GetAddressforLL.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>GetAddressforLL.Longitude</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_location_w_LL</name>
        <label>Update location w LL</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newLocRecId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>Lat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>Long</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultText</name>
            <fieldText>&lt;p&gt;{!FaultTextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NLS</name>
        <label>NLS</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Location</targetReference>
        </connector>
        <fields>
            <name>Location_Options</name>
            <choiceReferences>LocationWithAddressChoice</choiceReferences>
            <choiceReferences>LocationWithLatLongOnlyChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>LocationWithAddressChoice</defaultSelectedChoiceReference>
            <fieldText>Location Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Latitude_and_Longitude</name>
            <fieldText>Enter Latitude and Longitude</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Latitude_and_Longitude_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lat</name>
                    <dataType>Number</dataType>
                    <fieldText>Latitude</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>7</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Latitude_and_Longitude_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Long</name>
                    <dataType>Number</dataType>
                    <fieldText>Longitude</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>7</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Location_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>LocationWithLatLongOnlyChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Address</name>
            <fieldText>Enter Address</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Address_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PatienceWarning</name>
                    <fieldText>&lt;p&gt;🪧 &lt;strong style=&quot;color: rgb(16, 3, 255);&quot;&gt;&lt;em&gt;Please wait for &lt;/em&gt;&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;⬇️ &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!AutoCompleteLookupFieldLabel} &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;field ⬇️ &lt;/span&gt;&lt;strong style=&quot;color: rgb(16, 3, 255);&quot;&gt;&lt;em&gt;to appear below ... &lt;/em&gt;&lt;/strong&gt;⏱️&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Address</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>addressLookupLabel</name>
                        <value>
                            <elementReference>AutoCompleteLookupFieldLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showAddressLookup</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Location_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>LocationWithAddressChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NLS_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NLS_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Automatically_Name_New_Location_using_the_Address</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Automatically Name New Location using this Address?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Address.street</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NLS_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Set_this_as_an_Inventory_Location</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Set this as an Inventory Location?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Automatically_Name_New_Location_using_the_Address</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>NLS_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NLS_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Loc_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LocNameFromAddress</elementReference>
                    </defaultValue>
                    <fieldText>Location Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Location_Options</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NLS_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location_Type_PL</name>
                    <choiceReferences>LocTypePLC</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Location Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save Location</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NLS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FaultTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Sorry, something went wrong with this flow!&lt;/b&gt;&lt;/p&gt;

{!$Flow.FaultMessage}

&lt;p&gt;Your admin has received an email about this error.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>newAddrRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>newLocRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
